.SeedDataBtn {
  background: green;
  color: rgba(241, 243, 244, 1);
  border: 1px solid transparent;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  margin: 0 0 30px;
  transition: all 0.3s ease;
  &:hover {
    background: rgba(241, 243, 244, 1);
    color: green;
    border: green;
    cursor: pointer;
  }
  &:active {
    background: green;
    color: rgba(241, 243, 244, 1);
    border: 1px solid transparent;
  }
}