.App {
  padding: 40px 0 0;
  width: 100vw;
  min-height: 100vh;
  background: rgba(50, 50, 50, 1);
  color: rgba(241, 243, 244, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  a {
    color: gold;
    text-decoration: none;
  }
}
