.App {
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  background: rgba(255, 224, 196, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  a {
    color: rgba(67, 160, 78, 1);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
