.GenerateKeyBtn-ctnr {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90vw;
  margin: 0 0 30px;
  .GenerateKeyBtn {
    background: green;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    &:focus {
      outline: 0;
    }
  }
  .generatedKey {
    margin: 5px 0 0;
  }
}