.InfoBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  margin: 0 0 10px;
  .results-msg {
    width: 100%;
    margin: 0 0 20px;
  }
  .api-msg {
    width: 100%;
    margin: 0 0 5px;
  }
  .api-string {
    width: 100%;
    margin: 0 0 30px;
    a {
      color: rgba(67, 86, 139, 1);
    }
  }
  .login-for-key {
    width: 100%;
    margin: 0 0 30px;
    text-align: center;
  }
}