.Story {
  max-width: 95vw;
  margin: 0 0 60px;
  border: 4px double rgba(207, 143, 86, 1);
  padding: 2.5vw;
  .Story-timestamp {
    margin: 0 0 10px;
  }
  .Story-content {
    margin: 0 0 10px;
    line-height: 1.4;
  }
  .Story-img {
    max-width: 89vw;
    margin: 20px 0 0;
  }
  .query-word {
    font-weight: bold;
    color: rgba(19, 60, 172, 1);
  }
}